@font-face {
  font-family: "Shadows Into Light";
  src: url("./assets/ShadowsIntoLight-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Shadows Into Light";
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  padding-top: 250px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-title, .modal .modal-content {
  width: min(80%, 320px);
  margin: auto;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
}
.modal .modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}
.modal .modal-content form .form-entry {
  display: flex;
  flex-direction: column;
}
.modal .modal-content form .submit-entry {
  align-self: end;
}
.modal .modal-title {
  font-weight: 800;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #888;
}

.root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "todos";
  grid-template-rows: 1fr 3fr;
}
.root .header {
  grid-area: header;
  background-color: #FE654F;
}
.root .header .header-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.root .header .header-wrapper .hero {
  font-size: 45px;
}
.root .header .header-wrapper .menu {
  display: block;
  margin-left: auto;
  margin-right: 45px;
}
.root .sidebar {
  display: none;
}
.root .todos {
  grid-area: todos;
  background-color: #FEFEFF;
}
.root .todos .project-content {
  display: none;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 40px;
  height: 100%;
}
.root .todos .project-content .task-item {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.root .todos .project-content .task-item .task-input {
  display: flex;
  gap: 7px;
}
.root .todos .project-content .task-item .task-controllers {
  display: flex;
  gap: 10px;
}
.root .todos .project-content.inbox {
  display: flex;
}
.root .footer {
  grid-area: footer;
  background-color: #FE654F;
}

@media only screen and (min-width: 768px) {
  .root {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "header header" "sidebar todos";
    grid-template-columns: 0.7fr 3fr;
    grid-template-rows: 0.7fr 5fr;
  }
  .root .header {
    grid-area: header;
    background-color: #FE654F;
    width: 100%;
  }
  .root .header .header-wrapper {
    display: flex;
    justify-content: start;
    height: 100%;
    margin-left: 20px;
  }
  .root .header .header-wrapper .hero {
    font-size: 45px;
  }
  .root .header .header-wrapper .add-task {
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
  }
  .root .header .header-wrapper .menu {
    display: none;
  }
  .root .sidebar {
    grid-area: sidebar;
    background-color: #D6EFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .root .sidebar .entry {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .root .sidebar .entry:nth-child(1) {
    margin-top: 20px;
  }
  .root .sidebar .current-projects {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .root .sidebar .current-projects .project-item {
    cursor: pointer;
  }
  .root .sidebar .current-projects .add-new-project {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .root .sidebar .show {
    display: flex;
  }
  .root .todos {
    grid-area: todos;
    background-color: #FEFEFF;
  }
  .root .footer {
    grid-area: footer;
    background-color: #FE654F;
  }
}

/*# sourceMappingURL=style.css.map */
